@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
	--font: 'Open Sans', sans-serif;
	--black: #333;
	--white: #f5f5f5;
	--orange: #f74e13;
	--blue: #0dafdd;
	--light-blue: #add8e6;
	--green: #0dac60;
	--red: #f51319;
	--gray: #3f3f3f;
}

body {
	margin: auto;
	max-width: 1400px;
	font-family: var(--font);
	font-weight: 400;
	line-height: 1.5em;
	color: var(--text-color);
	text-align: center;
	letter-spacing: 1px;
	background-color: var(--logo-color);
}

a {
	text-decoration: underline;
}

a:hover {
	font-weight: bold;
}

.td-small-chart {
	width: 25%;
}

#play {
	border-radius: 50%;
	color: var(--white);
	font-size: 1.8em;
	border: none;
	width: 2em;
	height: 2em;
	cursor: pointer;
}

#mitigation {
	width: 66.7%;
	float: left;
	border-collapse: collapse;
	margin-top: 10px;
}

#mitigation td {
	vertical-align: top;
	text-align: left;
}

.pes-row-unselected {}

.pes-row-selected {
	background-color: var(--light-blue);
}

#pes-1-checkboxes,
#pes-2-checkboxes {
	line-break: auto;
	text-align: left;
	line-break: auto;
	width: 110%;
}

#playground {
	/* width: fit-content; */
	margin: auto;
}

.lockdown {
	color: var(--white);
	background-color: var(--red);
	border-radius: 5px;
}

.checkbox-label {
	padding-left: 3px;
	padding-right: 3px;
	cursor: pointer;
	width: 23%;
	float: left;
}

#checkboxes input {
	cursor: pointer;
}

#stats {
	float: right;
	width: 25%;
	line-height: .5em;
	text-align: left;
}

#playground:after,
#checkboxes:after {
	content: "";
	display: table;
	clear: both;
}

tbody {
	border: 1px solid black;
}

/* END OF GAME + INSTRUCTIONS */

#endOfGame,
#instructions {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 3;
}

#endOfGame {
	visibility: hidden;
}

#instructions {
	visibility: visible;
}

#endTable,
#instructionsTable {
	border-radius: 20px;
	background-color: var(--white);
	color: var(--black);
	margin: auto;
	z-index: 15;
	margin-top: 60px;
	padding: 20px;
}

#endTable {
	/*height: 400px;*/
	width: 500px;
	padding-bottom: 100px;
}

#instructionsTable {
	/*height: 600px;*/
	max-width: 600px;
	line-height: 1.7em;
}

#upozorneni {
	margin: auto;
	padding: 20px;
	background-color: var(--red);
	color: var(--white);
	text-align: center;
	border-radius: 20px;

}

#upozorneni a {
	color: var(--white);
}

#navod {
	padding: 20px;
	padding-top: 0px;
	text-align: left;
}

#endTable table {
	width: 100%;
	text-align: center;
}

#endTable table tr td {
	width: 50%;
}

#endTable table tr td {
	width: 50%;
}

#restart {
	float: right;
	margin-top: 20px;
	font-size: 1.05em;
	padding: 15px;
	color: var(--green);
	background-color: transparent;
	border: 2px solid var(--green);
	width: 120px;
	border-radius: 5px;
	overflow: hidden;
	transition: all .2s;
	cursor: pointer;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
}

#restart:hover {
	border-width: 4px;
	padding: 13px;
}

#close {
	cursor: pointer;
	font-size: 30px;
	float: right;
	margin-top: 5px;
	color: var(--black);
	z-index: 20;
	transition: transform .25s, color .25s;
	-webkit-transition: transform .25s, color .25s;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
}

#close:hover {
	color: var(--red);
	transform: rotate(90deg);
}